<section class="card">
    <div class="card__container">
        <div class="card__info">
            <p class="card__info-name">Nome do Repo</p>
            <p class="card__info-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias voluptatum
                dignissimos labore explicabo, dolor voluptas iure ullam a vitae, earum voluptates blanditiis officia optio
                quasi. Similique assumenda optio necessitatibus quisquam! </p>
        </div>
        <app-profile-card></app-profile-card>
    </div>
    <div class="card__container">
        <app-footer-card class="footer" [footercard]="footerCard"></app-footer-card>
    </div>
</section>