<section class="card border-bottom" [ngClass]="{'card_side': isPullrequest}" (click)="navigation()">
    <div class="card__container">
        <div class="card__info">
            <p class="card__info-name">{{ repositorie?.name }}</p>
            <p class="card__info-discription">{{ repositorie?.description }} </p>
        </div>
        <app-profile-card [urlImage]="repositorie?.owner.avatar_url" [username]="repositorie?.owner.login"></app-profile-card>
    </div>
    <div class="footer" *ngIf="!isPullrequest">
        <app-footer-card [fork]="repositorie?.forks" [star]="repositorie?.stargazers_count"></app-footer-card>
    </div>
</section>