.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;


    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    &__info {

        &-name {
            color: #0969dad1;
        }

        &-discription {
            word-break: break-all;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }

        &-date {
            margin-top: 10px;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.6);
        }
    }

    .footer {
        margin-top: 10px;
    }
}

.card__container-side {
    flex-direction: column;
    align-items: flex-start;
}

.card_info-side {
    margin-bottom: 12px;
}