.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &__container {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__info {
        width: 60%;

        &-name {
            color: #0969dad1;
        }

        &-discription {
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
}

@media screen and (max-width: 430px) {
    .card{
        margin-bottom: 20px;
    }
    .card__container {
        flex-direction: column;
        width: 100%;
    }
    .card__info {
        order: 2;
        margin: 0px 20px;
        width: 95%;
    }
}