.profile {
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
    &__name {
        color: #0969da;
        word-break: break-word;
        text-align: center;
    }
}